<%= form_for :reply, url: deck_card_game_check_answer_path(@current_deck.id,@current_card_index)   do |f| %>
  <div class="field">
    <%= f.text_area :answer, autofocus: :true, class: 'expanding' %>
  </div>
  <br>
  <div class="actions">
    <%=  f.submit 'Check' %>
  </div>
<% end %>

