<h1> ::<%= @current_deck.name %>::History:: </h1>

<table>
  <% @play_times.each do |time| %>
    <tr>
      <span><%= time.duration %> min, played on <%= time.start %> </span>
    </tr>
    <br>
  <% end %>
</table>
