// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_card{
  width: auto;
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#edit_card{
  width: 500px;
  text-align: center;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}         



