// Place all the styles related to the decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#deck_settings{ 
  width: 300px;
  text-align: right;
  margin: 0 auto;
}
