// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#play_area{ 
  width: auto ;
  text-align: center; 
  padding-top: 100px;
  margin: auto ;
  position: relative;
} 

.show_outside_answer{ 
  position: absolute;
  right: 800px;
  bottom: 180px;

}
.show_outside_answer:hover .show_inside{
  display: block;
  float: left;
}

.show_inside{
  display: none;
  position: absolute;
  left: 290px;
}

