// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{ 
  padding-top: 200px;
}

.show_outside_answer{ 
  display: inline;
}

.show_outside_answer{ 

}
.show_outside_answer:hover .show_inside{
  display: block;
}

.show_inside{
  display: none;
}

