// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#play_area{ 
  width: auto ;
  text-align: center; 
  padding-top: 50px;
  margin: auto ;
  position: relative;
} 

.show_outside_answer{ 
  position: absolute;
  right: 850px;
  bottom: 320px;

}
.show_outside_answer:hover .show_inside{
  display: block;
}

.show_inside{
  display: none;
  position: absolute;
  left: 400px;
  top: -5px;
}

