<div id="index">
<p id="notice"><%= notice %></p>
<h1>Decks</h1>

<table>
<% @decks.each do |deck| %>
  <tr>
      <td><%= deck.name %></td>

        <td><%= link_to 'Fork Deck', forkDeck_path(deck.id) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', user_root_path %>
<div>
